[submodule "resources/mall"]
	path = resources/mall
	url = https://github.com/macrozheng/mall.git
[submodule "resources/vhr"]
	path = resources/vhr
	url = https://github.com/lenve/vhr.git
[submodule "resources/mall-web"]
	path = resources/mall-web
	url = https://github.com/macrozheng/mall-admin-web.git
[submodule "resources/spring-all"]
	path = resources/spring-all
	url = https://github.com/wuyouzhuguli/SpringAll.git
[submodule "resources/spring-boot-examples"]
	path = resources/spring-boot-examples
	url = https://github.com/ityouknow/spring-boot-examples.git
[submodule "resources/karaf"]
	path = resources/karaf
	url = https://github.com/apache/karaf.git
[submodule "resources/wiki"]
	path = resources/wiki
	url = https://github.com/Requarks/wiki.git
[submodule "resources/spring-cloud-kubernetes"]
	path = resources/spring-cloud-kubernetes
	url = https://github.com/spring-cloud/spring-cloud-kubernetes.git
[submodule "resources/shardingsphere"]
	path = resources/shardingsphere
	url = https://github.com/apache/shardingsphere.git
